[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
argparse = "*"
eventlet = "*"
cryptography = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
